@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spotify-green: #1DB954;
  --spotify-black: #191414;
  --spotify-white: #FFFFFF;
  --spotify-grey: #B3B3B3;
  --spotify-dark-grey: #282828;
  --spotify-light-grey: #404040;
}

body {
  color: var(--spotify-white);
  background: var(--spotify-black);
  font-family: Arial, Helvetica, sans-serif;
}

/* Optional: Add a gradient background effect */
.spotify-gradient {
  background: linear-gradient(to bottom, #1DB954 -50%, #191414 25%);
}

.tagcloud {
  color: #fff;
}

.tagcloud--item {
  cursor: pointer;
  transition: color 0.3s ease;
}

.tagcloud--item:hover {
  color: #36d399;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.color-empty {
    fill: #ebedf0;
}

.color-scale-1 {
    fill: #c6e48b;
}

.color-scale-2 {
    fill: #7bc96f;
}

.color-scale-3 {
    fill: #239a3b;
}

.color-scale-4 {
    fill: #196127;
}

.react-calendar-heatmap .color-empty {
    fill: #1a1a1a;
}

.react-calendar-heatmap .color-scale-1 {
    fill: #1DB954;
    opacity: 0.25;
}

.react-calendar-heatmap .color-scale-2 {
    fill: #1DB954;
    opacity: 0.5;
}

.react-calendar-heatmap .color-scale-3 {
    fill: #1DB954;
    opacity: 0.75;
}

.react-calendar-heatmap .color-scale-4 {
    fill: #1DB954;
    opacity: 1;
}