@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spotify-green: #1DB954;
  --spotify-black: #191414;
  --spotify-white: #FFFFFF;
  --spotify-grey: #B3B3B3;
  --spotify-dark-grey: #282828;
  --spotify-light-grey: #404040;
}

body {
  color: var(--spotify-white);
  background: var(--spotify-black);
  font-family: Arial, Helvetica, sans-serif;
}

/* Optional: Add a gradient background effect */
.spotify-gradient {
  background: linear-gradient(to bottom, #1DB954 -50%, #191414 25%);
}

.tagcloud {
  color: #fff;
}

.tagcloud--item {
  cursor: pointer;
  transition: color 0.3s ease;
}

.tagcloud--item:hover {
  color: #36d399;
}